<div class="col-12">
    <div class="card">
        <div class="card-header">
            Catastic!
        </div>
        <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text">What a title! See the entire news <a href="{{this.link}}" target="blank"> here!</a></p>
            <a href="#" data-id="{{this._id}}" class="btn btn-primary btn-note">Read Notes / Write a new Note</a>
            {{#if this.saved}}
            <a href="#" class="btn btn-danger bt-toggle-article" data-id="{{this._id}}" data-value="false">Unsave Article</a>
            {{else}}
            <a href="#" class="btn btn-info bt-toggle-article" data-id="{{this._id}}" data-value="true">Save Article</a>
            {{/if}}
        </div>
    </div>
    <br>
</div>
